/* Colores Generales del Sitio */

$color-nav:rgb(231, 60, 188);
$color-bg-nav:linear-gradient(to bottom, rgb(53, 53, 53), rgb(196, 62, 162));
$color-bg-footer:linear-gradient(to bottom,rgb(196, 62, 162), rgb(53, 53, 53));

$sombra: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
$blanco: white;