/*---------- Estilos Generales Página 404 ----------*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.img-404{
    width: 80%;
}
.lead{
    margin-top: 30px;
}